/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------*/
*,*::before,*::after {
    box-sizing: border-box;
    /*outline: solid 1px;*/
  }
body{
    font-family: "Bruno Ace SC", sans-serif;/*載入,引入外部字體*/
    line-height: 1.5;
}
a{
	text-decoration: none;
	color: inherit;
	display: inline-block;  
}  
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/*layout */
.header{
	background-color: #000;
	color: #d1d1d1;
	padding: 40px 0;
}
.nav {
    display:flex;
    justify-content: space-between;
	align-items: center;
}


/* component  */
.btn{    /* btn的意思是?  Ans:箭頭的botton*/
	padding: 12px 24px;
	border-radius: 32px;  /* border-radius意思是? */
}
.btn-light{
  background: white;
  color: #000;
}

.btn-dark {
	background: #000;
	color: white;
  }


/*page*/  /*Page的意思是:? */  /*各個頁面的Setting*/
.banner{
	background-color: #000;  
	color: white;
}

.banner-title-strong {
  display: block;
  text-align: right;
}

.intro{
	/*CSS載入背景圖語法*/
	background-image: url("background-img/img.png");
	background-repeat: no-repeat;
	background-size: cover; 
	color: #FFF;
	padding: 160px 0;
}

.intro-desc{
	width: 526px;
}

.about{
	padding: 160px 0;
}
.about-list{
	width: 636px;
	flex-wrap: wrap;  
	/*justify-content: space-between;   方法一*/ 
	gap: 24px;   /*方法二*/
}

.about-list li{
	/*方法一 寬度限縮,小於50%製造間距較明顯*/
    /*width:48%; 
	border: #e3e3e3 1px solid;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
	padding: 16px; */

	/*方法二 用計算語法製造間距*/
	width:calc(50% - 12px); /*上下就差了24px*/  /*clac(50% (空格) - (空格)12px); 要記得空格!!!BUG找太久了 尺寸全跑掉!*/
    border: #e3e3e3 1px solid;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
	padding: 16px; 
}

.about-desc{
	width:526px;
}

.contact{
	/*背景漸層 方法一:複製大法*/
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
	/*兩種漸層顏色*/
    /*背景漸層 方法二:偷吃步 Figma上Copy直接貼上*/
	/*background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);   方法1.2意思都一樣*/
    
	/*在檢查時,關掉background漸層會相反過來(由上到下變成由下到上 why? 甚麼角度變成0?)*/
    padding:96px 0;
	color:#FFF;
}

.social-link{
	border-radius: 40px;
	transition: 10ms; 
}

.social-link:hover{
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
	/*效果可以加上一些描述or時間延遲*/
	transition: 1s;  /*1s後慢慢發光*/
}

.projects{
	padding: 160px 0px;
}

.projects-title{
  width:746px;
  margin-left: auto;
}



.footer{
	background-color: #000;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 40px 0;
}


/*通用樣式 unilities*/
.container{
    width: 1296px;
    margin:0 auto;
}

.h1{
	font-size: 128px;;
}

.h2{
	font-size: 64px;
}

.fs-1{
    font-size: 24px;
}

.fs-2{
	font-size: 20px;
}
.fs-3{
    font-size: 16px;
}



.fs-1{
    font-size: 24px;
}
.fs-2{
    font-size: 20px;
}
.fs-3{
    font-size: 16px;
}

.d-flex{
	display:flex;
}


.text-primary{ 
	color: #00ffa3;
}

.justify-content-between{
	justify-content: space-between;
}

.justify-content-end{
	justify-content: flex-end;
}

.flex-column{
	/*  預設為: flex-direction: row;  */
	/*更改為: */flex-direction:column;
}

.align-items-start{ 
	align-items: flex-start;
}

.align-items-center{
	align-items: center;
}

.mr-5{
	margin-right: 20px;
}
.mr-6{
	margin-right: 24px;
}
.mb-6{
	margin-bottom: 24px;
}

.mb-9{
	margin-bottom: 36px;
}
.ml-1{
	margin-left: 4px;
}
